#headermiddle {
  margin: 0 auto;
  width: 900px;
}

#header-search a {
  text-decoration: none;
}

/* #header-search안에 있는 h1만 선택한거임, 자식 */
/* div는 생략가능 */
div#header-search h1 {
  width: 200px;
  height: 50px;
  display: inline-block;
  background-image: url(./naver.png);
  background-position: -4px -10px;
  /* 가로 세로 마이너스는 위로고 플러스는 아래로 이동*/
  /* text-indent: 100%; */
  /* 글자 들여쓰기, 오른쪽으로 최대로 옮김 */
  /* overflow: hidden; */
  /* 밖으로 나간거 안보이게 한다 */
  background-repeat: no-repeat;
  /* 이거 안하면 height나 width 잘못 설정하면 여러개 나옴 */
  /* background-image: url(./naver.png) -4px 10px no-repeat; */
  /* 한방에 줄일수도 있음. */
}

#header-search h1 span {
  display: none;
}

#header-search h2 {
  display: none;
  /* 시각장애인들을 위해 */
}

#header-search fieldset {
  margin-left: 20px;
  /* padding-left: 10px;
  padding-top: 12px;
  padding-right: 0;
  padding-bottom: 12px; */
  padding: 12px 0 12px 10px;
  /* 시계방향 위 오른쪽 아래쪽 왼쪽 */
  width: 600px;
  height: 50px;
  display: inline-block;
  border: 2px solid green;
}

/* 이거는 자손인데. 더 깊이까지 가능 */
/* #headermiddle h1 {
} */

/* 보통은 자손 선택을 많이함, 자손이 넓은 범위라서 편함 */

/* span은 inline 이다. inline-block은 차이가 있다.
bloack은 너비 100%차지, inline, inline-block은 자기 컨텐츠나 너비 그것만 공간 차이 */

/* inline block은 width 랑 height 지정가능, 빈공간 만들기 가능 */
/* inline은 진짜 자기공간만, 빈공간 만들수가 없지, 주로 텍스트에 많이씀 */
